
/*===== Main Styles =====*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: forestgreen;
  flex-shrink: 0;
  border-top: solid 1px #282828;
}

/*===== Content Styles =====*/

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-bottom: 0;
}

nav {
  background-color: forestgreen;
  flex: 1 0 auto;
  border-bottom: solid 1px #282828;
}

.navbar-brand {
  font-size: 2.3rem;
}

.main-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}


/*===== Img Styles ====*/

.icon {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 10px;
}

/*==== Form Styles ====*/

form {
  font-weight: bold;
}

#buttonbox {
  text-align: center;
}

.form_button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: forestgreen;
  color: white;
  font-weight: bold;
}

.form_header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

#name {
  padding: 1em;
  margin-bottom: 10px;
}

#mail {
  padding: 1em;
  margin-bottom: 10px;
  margin-left: 4px;
}

.schedule {
  margin-top: 15px;
}

.end {
  margin-right: 5px;
  margin-bottom: 15px;
}

#project {
  width: 95%;
}

/*====== Form content for larger screens ====*/
@media (min-width: 624px) {
  form {
    margin: 15px auto;
    width: 600px;
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
    background-color: white;
    font-weight: bold;
  }

  #name {
    padding: 1em;
    margin: 12px;
  }

  #mail {
    padding: 1em;
    margin: 16px;
  }

  #project {
    margin: 10px;
  }

  .form-left {
    float: left;
  }

  .form-right {
    float: right;
    margin-top: 15px;
  }

  .schedule {
    margin-top: 15px;
  }

  .end {
    margin-right: 8px;
  }
}


/*====== Modal Styles ====*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalMessage {
  text-align: center;
  color: forestgreen;
}
