
/*===== Main Styles =====*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: forestgreen;
  flex-shrink: 0;
  border-top: solid 1px #282828;
}

/*===== Content Styles =====*/

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-bottom: 0;
}

nav {
  background-color: forestgreen;
  flex: 1 0 auto;
  border-bottom: solid 1px #282828;
}

.navbar-brand {
  font-size: 2.5rem;
}

.main-content {
  flex: 1 0 auto;
}





/*===== Img Styles ====*/

.card-img-top {
  height: 40%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 15px;
}
