
/*===== Main Styles =====*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: forestgreen;
  flex-shrink: 0;
  border-top: solid 1px #282828;
}

/*===== Content Styles =====*/

.action {
  background: linear-gradient(#282828, grey);
  color: white;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-bottom: 0;
}

nav {
  background-color: forestgreen;
  flex: 1 0 auto;
  border-bottom: solid 1px #282828;
}

.main-content {
  background-color: lightgrey;
  flex: 1 0 auto;
  margin-bottom: -15px;
}

.navbar-brand {
  font-size: 2.5rem;
}

/*===== Img Styles ====*/

img {
  height: 530px;
  width: 500px;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 15px;
}
