
/*===== Main Styles =====*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: forestgreen;
  flex-shrink: 0;
  border-top: solid 1px #282828;
}

/*===== Content Styles =====*/

.action {
  background: linear-gradient(#282828, grey);
  color: white;
}

.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-bottom: 0;
}

nav {
  background-color: forestgreen;
  flex: 1 0 auto;
  border-bottom: solid 1px #282828;
}

.main-content {

  flex: 1 0 auto;
  margin-bottom: -15px;
}

.navbar-brand {
  font-size: 2.3rem;
}

.cap {
  color: forestgreen;
  padding: 8px;
  font-weight: bolder;
}

.cap1,
.cap3 {
  margin-bottom: 295px;
}

.cap2 {
  margin-bottom: 275px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 40px;
  color: forestgreen;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: forestgreen;
}

/*===== Img Styles ====*/

img {
  height: 530px;
  width: 500px;
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 10px;
}
